# Backend
backend/.venv/
backend/.vscode/
backend/src/routes/__pycache__/
backend/*.pyc
backend/.env
**/__pycache__/
backend/dataset/
backend/uploads/
backend/saved_model/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env